<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
    <center> <h1> Puzzle 5 </h1> </center>
    <p>extemporaneously</p>
    <p>atlases</p>
    <p>questing</p>
    <p>flagstone</p>
    <p>sea</p>
    <p>Israel </p>
    <p>vagueness</p>
    <p>SF</p>
    <p>windsor</p>
    <p>disrobe</p>
    <p>exorcism</p>
    <p>horse</p>
</body>
<script>
var hint = "Look after what's in common"
setTimeout(function() { alert(hint); }, 1000*60*10);
</script>
